name: Publish to Chrome Web Store

on:
  workflow_dispatch:
  push:
    tags:
      - "*"

permissions:
  contents: read

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "npm"

      - name: Install deps
        run: npm ci

      - name: Build extension (Quasar BEX)
        run: npx quasar build -m bex -T chrome

      - name: Package zip
        run: |
          tag="${GITHUB_REF#refs/tags/}"
          cd dist/bex-chrome--dev
          zip -r ../../diogel-${tag}.zip .
         
          gh release create "$tag" \
                                       --title="$tag" \
                                       --draft \
                                        "diogel-${tag}.zip"
           cd ../..

      - name: Upload & Publish to Chrome Web Store
        uses: mnao305/chrome-extension-upload@v5.0.0
        with:
          file-path: diogel.zip
          extension-id: ${{ secrets.CWS_EXTENSION_ID }}
          client-id: ${{ secrets.CWS_CLIENT_ID }}
          client-secret: ${{ secrets.CWS_CLIENT_SECRET }}
          refresh-token: ${{ secrets.CWS_REFRESH_TOKEN }}
          # publish: "true" publishes to the default target (usually "default")
          publish: "true"
